<div class="uriel">
<div class="card text-black bg-danger w-50 cardOnly">
  <div class="card-header">
    <div class="row">
      <div class="col col-lg-12 ">
        קיימות {{totalExpenses}} הוצאות
       נכון לחודש {{month}}  {{year}}
        בסכום כולל של :
      </div>
      <div class="col col-xs-12 text-center">
        <div class="d-block huge"></div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="text-center">
    <i class="fa fa-shekel fa-3x">{{totalAmount}}</i>
    </div>
  </div>
  <div class="card-footer">
    <span class="float-right">הצג פרטים</span>
    <a [routerLink] = "['/expenses/expensesList']" class="float-right card-inverse">
      <span ><i class="fa fa-arrow-circle-left"></i></span>
    </a>
  </div>
</div>
</div>
