<div class="card text-white bg-danger">
  <div class="card-header">
    <div class="row">
      <div class="col ">
        <i class="fa fa-shekel fa-2x">{{expenseItem.amount}}</i>
      </div>
      <div>
        <a><span><i class="fa fa-credit-card fa-right"></i></span></a>
        <a (click)="update(expenseItem)"><span><i class="fa fa-edit fa-right"></i></span></a>
        <a (click)="onDeleteRequest(expenseItem._id)"><span><i class="fa fa-trash-o fa-right"></i></span></a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col col-xs-9 text-right">
      <div class="row">
        <label for="name">שם:</label>
        <div id="name">{{expenseItem.name}}</div>
      </div>
      <div class="row">
        <label for="date">תאריך:</label>
        <div id="date">{{date}}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col col-md-12">
        <span class="float-right">פרטים</span>
        <a href="javascript:void(0)" (click)="openExtendedDetailsModal(expenseItem)" class="float-left card-inverse">
          <span><i class="fa fa-arrow-circle-left"></i></span>
        </a>
        <app-extended-details-modal ></app-extended-details-modal>
        <app-update (onFormUpdated)="onUpdateSubmit($event)" [expenseItem]="expenseItem"></app-update>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col col-md-4">-->
        <!--<a>-->
          <!--<i class="fa fa-edit"></i>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col col-md-4">-->
      <!--</div>-->
      <!--<div class="col col-md-4">-->
        <!--<a>-->
          <!--<i class="fa fa-trash "></i>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</div>
