/*
div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__one {
  transition: transform .5s;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .grid {
    max-width: 1200px;
  }
}

.card {
  position: relative;
  flex: 1 1 100%;
  margin: 31px 0;
  padding: 20px;
  background: white;
}
@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc(33.33% - (62px + 40px));
    margin: 0 31px;
  }
}

.card__thumb {
  overflow: hidden;
}

.card__img {
  margin: -20px -20px 0;
}
.card__img img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

.card__desc {
  margin-top: 20px;
}

.card__two .card__img {
  padding: 20px;
}

.card__one {
  transition: transform .5s;
}
.card__one::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card__one:hover, .card__one:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__one:hover::after, .card__one:focus::after {
  opacity: 1;
}

.card__two::before, .card__two::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .38s ease-in-out, transform .35s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.card__two::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card__two::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-color: crimson;
}
.card__two:hover::before, .card__two:hover::after, .card__two:focus::before, .card__two:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.card__three::before, .card__three::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card__three::before {
  transform-origin: left top;
}
.card__three::after {
  transform-origin: right bottom;
}
.card__three:hover::before, .card__three:hover::after, .card__three:focus::before, .card__three:focus::after {
  transform: scale3d(1, 1, 1);
}
*/

/*
body
{
  background: #cfd8dc;
}

.card-container
{
  font-family: 'Open Sans', sans serif;
  font-size: 120px;
  font-weight: bold;

  width: 400px;
  height: 250px;
  margin: 80px auto;

  border-radius: 10px;

  perspective: 1400px;
}

.card
{
  position: relative;

  height: 100%;

  border-radius: 10px;

  widht: 100%;
  transform-style: preserve-3d;
}

.front,
.back
{
  display: flex;

  width: 100%;
  height: 100%;

  border-radius: 10px;

  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front
{
  color: #fff;
  background: #2196f3;
}

.back
{
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  color: #2196f3;
  background: #fff;
}
*/

.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding-left: 15px;
  border:0px;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}
.icon-style
{
  margin-right:15px;
  font-size:18px;
  margin-top:20px;
}
.p
{
  margin:3px;
}
.well-add-card
{
  margin-bottom:10px;
}
.btn-add-card
{
  margin-top:20px;
}
.p{
  float:right;
  direction: rtl;
}
.thumbnail {
  direction: rtl;
  float: right;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #D9D9D9;
  border-radius: 15px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}
.btn
{
  border-radius:4px;
  float:right;
}
.btn-update {
  margin-right: 7px;
  float: right;
}
.card-heb{
  margin-left: 150px;
}

.card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  margin-bottom: 12px;
  direction: rtl;
  border: 1px solid #040304;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  direction: rtl;
  float: right;
}

.card-title {
  margin-bottom: .75rem;
}
.card-text:last-child {
  margin-bottom: 0;
  word-break: break-all;
}

.fa-left{
  float:left;
  color: aliceblue;
}
