<!--<br>-->
<!--<div class="container-fluid ">-->
  <!--<div class="row">-->
    <!--<app-expenses></app-expenses>-->
  <!--</div>-->
<!--</div>-->
<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
  <router-outlet></router-outlet>
</section>
<div class="container socialFooter">
  <!--<div class="panel-footer text-center center-block" style="background: #333333">-->
  <hr/>
  <div class="text-center center-block ">
    <span><i id="social-fb" class="fa fa-facebook-official fa-3x social" aria-hidden="true"></i></span>
    <span><i id="social-inst"  class="fa fa-instagram fa-3x social" aria-hidden="true"></i></span>
    <span><i id="social-gp" class="fa fa-envelope-square fa-3x social"></i></span>
    <span><i id="social-linkd" class="fa fa-linkedin-square fa-3x social" aria-hidden="true"></i></span>
    <p class="txt-railway">@ Made By UP @</p>
<!--    <div class="card text-white bg-danger logo">
      <div class="card-header">
        <div class="row">
          <div class="col">
            94
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col col-xs-9 text-left">
          <div class="row">
            <div id="name">Pu</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">

        </div>
      </div>
    </div>-->
  </div>
  <hr/>
</div>

