<ng-template #content let-c="close" let-d="dismiss" >
<!-- <div class="modalDetails " role="dialog">
      <div class="modal-header modalDetailsHeader">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{expenseItem.title}}</h4>
  </div>
      <div class="modal-body modalDetailsBody">
    <div class="row">
      <label for="name">שם: </label>
      <div id="name">{{expenseItem.name}}</div>
    </div>
    <div class="row">
        <label for="amount">סכום: </label>
        <i id="amount" class="fa fa-shekel fa-1x amount">{{expenseItem.amount}}</i>
    </div>
    <div class="row">
      <label for="date">תאריך:</label>
      <div id="date">{{expenseItem.date}}</div>
    </div>
    <div class="row">
      <label for="description">תיאור:</label>
      <div id="description">{{expenseItem.description}}</div>
    </div>
  </div>
      <div class="modalDetailsFooter">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
  </div>-->
  <div class="modalDetails" id="myModal" role="dialog">


      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="c('Close click')">&times;</button>
          <h4 class="modal-title w-100 float-right myHeader">{{expenseItem.title}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <label for="name">שם: </label>
            <div id="name">{{expenseItem.name}}</div>
          </div>
          <div class="row">
            <label for="amount">סכום: </label>
            <i id="amount" class="fa fa-shekel fa-1x amount">{{expenseItem.amount}}</i>
          </div>
          <div class="row">
            <label for="date">תאריך:</label>
            <div id="date">{{expenseItem.date}}</div>
          </div>
          <div class="row">
            <fieldset class="form-group">
              <label>תיאור:</label>
              <textarea class="form-control my_textarea" rows="3" cols="50" readonly>{{expenseItem.description}}</textarea>
            </fieldset>
          </div>
          <div class="row">
            <div class="col">
              <a><i class="fa fa-edit float-left" style="padding-top: 0.05rem" ></i></a>
              <a><i class="fa fa-trash float-left" style="padding-left: 12px"></i></a>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col col-md-6">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d('Cross click')">סגור</button>
            </div>
          </div>

        </div>
      </div>


  </div>
</ng-template>


