<div class="uriel">
<div class="row">
  <div class="page-header">
    <h1 > גרף הוצאות חודשי</h1>
  </div>
</div>
<hr>
<div>
  <div class="row">
    <div class="col col-sm-12 ">
      <div class="card mb-3 w-100">
        <div class="card-header">
          ההוצאות לחודש {{currentMonth}}
        </div>
        <div class="card-body">
          <canvas baseChart width="400" height="150"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col col-xm-3 align-self-start">
      <button class="btn btn-primary" (click)="prevMonth()" [disabled]="!prevAvilable" >חודש קודם</button>
    </div>
    <div class="col align-self-end">
      <button class="btn btn-primary next" (click)="nextMonth()" [disabled]="!nextAvilable">חודש הבא</button>
    </div>

  </div>
<!--  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col col-lg-3 align-self-center">
      <app-exp-totalcomp></app-exp-totalcomp>
    </div>
    <div class="col col-lg-3 align-self-center">
      <app-exp-totalcomp></app-exp-totalcomp>
    </div>
    <div class="col col-lg-3 align-self-center">
      <app-exp-totalcomp></app-exp-totalcomp>
    </div>
    <div class="col col-lg-3 align-self-center">
      <app-exp-totalcomp></app-exp-totalcomp>
    </div>
  </div>-->

</div>
