<!--<div class="row">-->
 <app-header></app-header>
<!--</div>-->
<!--<app-sidebar></app-sidebar>-->
<!--<div class="container">
  <div class="row">
    <div class="col-md-12">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
<!--<section>
  <router-outlet></router-outlet>
</section>-->
<div class="container container-fluid">
  <!--<app-home-comp></app-home-comp>-->
<div class="row">
  <div class="col-xs-6 col-sm-3">
    <app-sidebar></app-sidebar>
  </div>
<div class="col-xs-12 col-sm-9 test-main-content">
  <app-home-comp></app-home-comp>
</div>
  <hr>

</div>
</div>

