<div class="container-fluid scrollable">
  <div class="row">
    <hr>
  </div>
  <div class="row">
  <div class="page-header">
    <h1 >רשימת הוצאות</h1>
  </div>

  </div>
  <hr>
 <div class="row" >
   <div class="col-sm-4" *ngFor="let expense of expensesList" >
     <app-expnses-item [expenseItem]="expense"></app-expnses-item>
   </div>
   <div class=" col-sm-4 align-self-end">
     <i class="fa fa-plus-square-o fa-4x" aria-hidden="true" (click)="Uopen()"></i>
   </div>
 </div>
  <app-add-expense></app-add-expense>
</div>

