<div class="uriel" >
  <div class="card text-black bg-danger w-50 cardOnly" >
    <div class="card-header discountCardHeader" >
      <div class="row">
        <div class="col col-xs-3">
          <img class="discountIcon" src="../../../assets/icons/discount-BankIcon.png">
        </div>
      </div>
    </div>
    <div class="card-body discountCardBody" >

    </div>
    <div class="card-footer discountCardFooter">
    </div>
  </div>

  <div class="card text-black bg-danger w-50 cardOnly" >
    <div class="card-header hapoalimCardHeader" >
      <div class="row">
        <div class="col col-xs-3">
          <img class="hpoalimIcon" src="../../../assets/icons/hapoalim-BankIcon.png">
        </div>
      </div>
    </div>
    <div class="card-body hapoalimCardBody" >

    </div>
    <div class="card-footer hapoalimCardFooter" >

    </div>
  </div>
</div>
